.feedback
  padding: 94px 0
  background: url('../img/blur.jpg') no-repeat center right -40%
      
      
    
.form
  max-width: 575px
 
  &__title
    font-family: 'Museo Sans Cyrl 700' 
    font-size: 24px
    font-weight: bold
    line-height: 35px
    margin-bottom: 49px

  &__subtitle
      font-family: 'Museo Sans Cyrl 300', sans-serif
      display: block
      margin-bottom: 49px  
  &__input
    width: 270px 
    margin-bottom: 30px

    &:first-child
        margin-right: 30px 
  &__button
      font-size: 16px
      line-height: 18px
      padding: 28px
      display: block
      width: 100%

.under-form
  margin-top: 31px
  
  
 


.underwrap
  display: flex
  
    
.form-left
  flex: 50% 



.form-right
  flex: 50%
  max-width: 251px

.underform 
  float: right
   
 
  
 

.phone
  width: 40px
  height: 40px
  border-radius: 50%
  border: 2px solid #cccccc
  margin-right: 10px
  background-size: 16px
  background-repeat: no-repeat
  background-position: center
  background-image: url('../img/phone.png')
  float: left
  
  
  
  
.underform__text
  font-family: 'Museo Sans Cyrl 300', sans-serif
  font-size: 15px
 
  

.underform__tel
  font-family: 'Museo Sans Cyrl 700', sans-serif
  font-size: 15px
  margin-top: 4px



