.feedback
  padding: 94px 0
  background: url('../img/blur.jpg') no-repeat center right 
      
      
    
.form
  max-width: 575px
  &__title
    font-family: 'Museo Sans Cyrl 700' 
    font-size: 24px
    font-weight: bold
    line-height: 35px
    margin-bottom: 49px

  &__subtitle
      display: block
      margin-bottom: 49px  
  &__input
    width: 270px 
    margin-bottom: 30px

    &:first-child
        margin-right: 30px 
  &__button
      padding: 28px
      display: block
      width: 100%
