.button
    padding: 17px 30px
    font-family: 'Museo Sans Cyrl 700', sans-serif
    font-size: 13px
    font-weight: bold
    border: none
    border-radius: 10px
    background-color: $but-bg-cl
    &:hover
      background-color: lighten($but-bg-cl, 10%)
      cursor: pointer
    &:focus  
      outline: none   